:root {
  font-family: "Fraunces", serif;
  font-family: "Montserrat", sans-serif;
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);

  /* //Neutral */

  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}
html {
  font-family: "Montserrat", sans-serif;
  font-family: "Fraunces", serif;
}

body {
  background-color: var(--Cream);
  font-family: "Montserrat", sans-serif;
  font-family: "Fraunces", serif;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Wraper {
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 3rem;
  display: flex;
  width: 50%;
  border-radius: 1rem;
  justify-content: center;
}
/* img {
  display: block;
  width: 100%;
  height: 600px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
} */
.Box1,
.Box2 {
  width: 50%;
}
.Box1 {
  background-image: url(./images/image-product-desktop.jpg);
  background-position: center;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.Box2 {
  background-color: var(--White);
  padding: 0 1rem;
}
article {
  margin-top: 1rem;
}

#sp1 {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}
.weeksp {
  padding: 0.5rem 1.2rem;
  margin-top: 3rem;
  letter-spacing: 0.4rem;
}
h1 {
  font-size: 2.6rem;
  font-family: "Fraunces", serif;
}

.heading {
  padding: 1rem 1rem;
}
.paragraph {
  padding: 0.2rem 1rem;
}

.paragraph p {
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  line-height: 2.2rem;
  word-spacing: 3px;
}
.price {
  padding: 1rem 0rem;
}

#psp1 {
  font-weight: bold;
  color: var(--Dark-cyan);

  font-size: 2.6rem;
  padding: 1rem 1rem;
  margin-top: 3rem;
}
#psp2 {
  margin-left: 0rem;
}
#psp2 s {
  font-size: 0.8rem;
  position: relative;
  bottom: 0.5rem;
}

.btn {
  padding: 1rem 1rem;
  padding-bottom: 2rem;
  text-align: center;
}

.btn button {
  padding: 0.9rem 0.4rem;
  width: 100%;
  background-color: var(--Very-dark-blue);
  color: var(--White);
  border-radius: 0.5rem;
  background-color: var(--Dark-cyan);
  font-weight: bold;
  font-size: 1.3rem;
}

button .icon {
  font-size: 2rem;
  position: relative;
  top: 0.5rem;
}

@media only screen and (min-width: 360px) and (max-width: 400px) {
  .Wraper {
    flex-direction: column;
    width: 100%;
    padding: 0 2rem;
  }
  .weeksp {
    margin-top: 1rem;
  }

  .Box1 {
    height: 300px;
    background-image: url(./images/image-product-mobile.jpg);
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0;
    background-position: top center;
  }
  .Box1,
  .Box2 {
    width: 100%;
    padding: 0;
  }
  .btn button {
    width: 100%;
  }

  article {
    margin-top: 1rem;
  }
  .paragraph p {
    font-size: 1.2rem;
    line-height: 2rem;
    word-spacing: 3px;
  }
}

@media only screen and (min-width: 401px) and (max-width: 600px) {
  .Wraper {
    flex-direction: column;
    width: 100%;
    padding: 0 2rem;
    margin-bottom: 3rem;
  }
  .weeksp {
    margin-top: 1rem;
  }

  .Box1 {
    height: 350px;
    background-image: url(./images/image-product-mobile.jpg);
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0;
    background-position: top center;
  }
  .Box1,
  .Box2 {
    width: 100%;
    padding: 0;
  }
  .btn button {
    width: 100%;
  }
  .btn {
    padding: 0 1rem;
    margin-bottom: 2rem;
  }
  article {
    margin-top: 1rem;
  }
  .paragraph p {
    font-size: 1.2rem;
    line-height: 2rem;

    word-spacing: 3px;
  }

  #psp1 {
    padding: 2rem 1rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 700px) {
  .Wraper {
    width: 100%;
    padding: 0 2rem;
    margin-bottom: 3rem;
  }
  .weeksp {
    margin-top: 1rem;
  }

  .Box1,
  .Box2 {
    width: 100%;
    padding: 0;
  }
  .btn button {
    width: 100%;
  }
  .btn {
    margin-bottom: 2rem;
  }
  article {
    margin-top: 1rem;
  }
  .paragraph p {
    font-size: 1.2rem;
    line-height: 2rem;
    word-spacing: 3px;
  }
  .heading,
  #sp1,
  .paragraph {
    padding: 0 0.5rem 0.5;
  }
}

@media only screen and (min-width: 701px) and (max-width: 1000px) {
  .Wraper {
    width: 100%;
    padding: 0 2rem;
    margin-bottom: 3rem;
  }
  .weeksp {
    margin-top: 1rem;
  }

  .Box1,
  .Box2 {
    width: 100%;
  }
  .btn button {
    width: 100%;
  }
  .btn {
    margin-bottom: 2rem;
  }
  article {
    margin-top: 1rem;
  }
  .paragraph p {
    font-size: 1.2rem;
    line-height: 2rem;
    word-spacing: 3px;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1500px) {
  .Wraper {
    width: 80%;
  }

  article {
    margin-top: 0.5rem;
  }
  .btn {
    text-align: center;
  }
  .btn button {
    width: 96%;
  }
  .paragraph p {
    font-size: 1.2rem;
    line-height: 2rem;
    word-spacing: 3px;
  }
}
